footer {
    width: 100vw;
    height: auto;
    background-color: #198754;
    padding-top: 50px;
    padding-bottom: 20px;
  }

.socials {
  list-style: none;
}

.socials a {
  text-decoration: none;
  color: #ffff;
}

.social a i {
  font-size: 1.1rem;
  transition: color .4s ease;
}

.face:hover {
  color: #3b5998;
}

.insta:hover {
  color: #ffc0cb;
}

.twit:hover {
  color: #00acee;
}

.scale:hover{
  transform: scale(1.4);
}