main {
  width: 100vw;
}

.contact {
  width: 100vw;
  max-height: auto;
  background-color: #ffff;
}

.about {
  width: 100vw;
  max-height: auto;
  background-color: #f1ffee;
}

.principal {
  width: 100vw;
  max-height: auto;
  background-color: #9ce087;
}

.card-image {
  max-height: 9rem;
}

.card-descricao {
  text-align: justify;
}

.card-button {
  height: 3rem;
}

.cards {
  max-width: 80%;
  margin: 0 auto;
}

.card-body {
  margin-top: 0 !important;
  align-items: self-end;
}

.card {
  border: none;
  border-radius: 10px;
  max-height: auto;
}

.descrip {
  color: grey;
}

.about-us {
  margin-left: 100px;
  width: 573px;
}

.somos {
  width: 335px;
}

.contato {
  width: 300px;
}

.zap-button {
  width: 200px;
}
