main {
  width: 100vw;
}

.contact {
    width: 100vw;
    height: 20rem;
    background-color: #ffff;
  }

.about {
    width: 100vw;
    height: 20rem;
    background-color: #6eaa5e;
  }

.principal {
    width: 100vw;
    max-height: auto;
    background-color: #93bf85;
  }

  .cards {
    max-width: 80%;
    margin: 0 auto;
  }

  .card {
    border: none;
    border-radius: 10px;
  }
